<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @home.user %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @home.pass %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
